appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.0.4
attrs==18.1.0
Automat==0.7.0
backcall==0.1.0
bleach==2.1.4
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
colorlover==0.2.1
conda==4.6.14
constantly==15.1.0
cryptography==2.5
cvxopt==1.2.3
cvxpy==1.0.21
cycler==0.10.0
Cython==0.28.5
decorator==4.3.0
dill==0.2.9
docker==4.0.1
docker-pycreds==0.4.0
docutils==0.14
ecos==2.0.7.post1
entrypoints==0.2.3
fastcache==1.0.2
future==0.17.1
graphistry==0.9.56
h5py==2.8.0
html5lib==1.0.1
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.12.1
Jinja2==2.10
joblib==0.13.2
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-contrib-core==0.3.3
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==3.1.1
Markups==3.0.0
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.3
mkl-fft==1.0.10
mkl-random==1.0.2
multiprocess==0.70.7
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
neo4j==1.7.0
neobolt==1.7.3
neotime==1.7.1
networkx==2.2
nose==1.3.7
notebook==5.6.0
numpy==1.16.2
olefile==0.45.1
osqp==0.5.0
packaging==19.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.0
pexpect==4.6.0
pickleshare==0.7.4
PICOS==1.2.0.post14
Pillow==6.2.0
pretrainedmodels==0.7.0
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycosat==0.6.3
pycparser==2.18
Pygments==2.2.0
PyHamcrest==1.9.0
pylint==2.1.1
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.3
python-igraph==0.7.1.post6
python-markdown-math==0.6
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.2
requests==2.18.4
ruamel-yaml==0.15.37
scikit-learn==0.20.3
scipy==1.2.1
scs==2.1.0
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
statsmodels==0.9.0
terminado==0.8.1
testpath==0.3.1
torch==1.0.1.post2
torchvision==0.2.2
tornado==5.1
tqdm==4.25.0
traitlets==4.3.2
Twisted==18.7.0
typed-ast==1.1.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
wrapt==1.10.11
zope.interface==4.5.0
